.modal_bg {
	position: fixed; 
	top: 0;
	left: 0; /*Posição fixa colado em cima na ponta esquerda*/
	width: 100%;
	height: 100%;
	z-index: 99; /* Cobrir todo o espaço da tela e acima de todo o site */
	background-color: rgba(0,0,0,0.6); /*Cor preta com 60 % de transparencia*/
}

.modal{
	position: absolute;/*Podendo ou não se mexer*/
	width: 400px;
	height: 300px;
	background-color: #FFFFFF;
	z-index: 100;
	top: 50px;
	left: 50%; /*Uma altura boa mas o modal não ficou centralizado*/
	
	
}